@font-face {
    font-family: "Pedana";
    src: url("../fonts/Peddana-Regular.ttf");
}

@font-face {
    font-family: "Piazzolla";
    src: url("../fonts/Piazzolla-VariableFont_opsz,wght.ttf");
}

code{
    font-family: Pedana, sans-serif;
    font-size: 1.5vmax;
    margin: 0;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/backabout.jpg");
    background-size: 100%;

}

#me{
    text-align: left;
    margin-left: 8vmax;
}

time{
    float: right;
}

h2{
    font-family: Piazzolla,sans-serif;
}


#aboutproject{
    float: left;
    width: 96%;
    margin-top: 1vmax;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 2%;

}


p{
    font-size: 1.1vmax;
    text-align: center;
    margin-top: 6vmax;
    font-family: Piazzolla,sans-serif;

}

aside{
    font-size: 1.1vmax;
    width: 30%;
    border: 2px solid  black;
    background-color: white;
    float: right;
    text-align: center;
}
article{
    float: left;
}

section{
    width: 96%;
    float: left;
    padding: 2%;
    border-bottom: 2px solid black;
}

.class1{
    text-align: center;
}

ul{
    font-family: Piazzolla,sans-serif;
    font-size: 1.1vmax;
    text-align: left;
    padding: 0.2vmax;
}

#codeformgit{
    width: 50%;
    border: 2px solid black;
    margin-left: 25%;
    background-color: #fafafa;
}