@font-face {
    font-family: "Sansita";
    src: url("../fonts/SansitaSwashed-VariableFont_wght.ttf");
}


html {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

header {
    float: left;
    width: 96%;
    padding: 2%;
    background-color: #d4d4d4;
    border-bottom: 2px solid silver;
}

header #logo {
    font-family: Sansita, sans-serif;
    width: 30%;
    float: left;
    font-size: 2vmax;

}

header #about {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vmax;
}

header #about a {
    color: #497DDD;
    text-decoration: none;
    border-bottom: 1px dashed;
    margin-left: 1.2em;
}

header #about a:hover {
    color: #114182;
    transition: 1s;
}

#table {
    width: 100%;
    height: 45vmax;
    background-color: #161936;
}

#table #news {
    position: absolute;
    width: 20%;
    height: 10vmax;
    background-color: #497DDD;
    margin-left: 10%;
    color: white;
    margin-top: 10vmax;
}

#table #aboutus {
    position: absolute;
    width: 20%;
    height: 10vmax;
    background-color: #497DDD;
    margin-left: 40%;
    margin-top: 10vmax;
    color: white;
}


#table #interview {
    position: absolute;
    width: 20%;
    height: 10vmax;
    background-color: #497DDD;
    margin-left: 70%;
    color: white;
    margin-top: 10vmax;
}

#table #contacts {
    position: absolute;
    width: 20%;
    height: 10vmax;
    background-color: #497DDD;
    margin-left: 40%;
    color: white;
    margin-top: 30vmax;
}

@media screen and (max-width: 992px) {

}

h2 {
    font-size: 2vmax;
    margin-top: 3.4vmax;
    text-align: center;
}

footer {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8.3%;
    background-color: #c9c9c9;
    border: 2px solid silver;
}

#rights {
    position: absolute;
    font-size: 1.5vmax;
    margin-left: 2vmax;
    font-family: "Times New Roman", sans-serif;
}


#it{
    margin-top: 2vmax;
}

#info{
    display: block;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
    opacity: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0,0.4);
}

#info-content{
    text-align: center;
    margin: 6vmax auto auto;
    width: 20%;
    padding: 3vmax;
    background-color: #fefefe;
}

p{
    font-size: 1vmax;
}

#mainphotodiv{
    height: 12vw;
    padding: 1vmax;
}